.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
.idea/
.vscode/settings.json
*.swp
*.swo
.DS_Store
Thumbs.db
example/build/
example/.dart_tool/
example/.flutter-plugins
example/.flutter-plugins-dependencies
